/Ejercicios de repaso/Ejercicio 1/Ejercicio1/nbproject/private/
/Ejercicios de repaso/Ejercicio 1/Ejercicio1/build/
/Ejercicios de repaso/Ejercicio 2/Ejercicio2/nbproject/private/
/Ejercicios de repaso/Ejercicio 2/Ejercicio2/build/
/Ejercicios de repaso/Ejercicio 3/Ejercicio3/nbproject/private/
/Ejercicios de repaso/Ejercicio1/build/
/Ejercicios de repaso/Ejercicio1/nbproject/private/
/Ejercicios de repaso/Ejercicio2/build/
/Ejercicios de repaso/Ejercicio2/nbproject/private/
/Ejercicios de repaso/Ejercicio3/nbproject/private/
/Ejercicios de repaso/Ejercicio3/build/
